[Unit]
Description=Mount Google Drive with rclone
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount gdrive: {{HOME}}/GoogleDrive --vfs-cache-mode writes --vfs-cache-max-size 1G
ExecStop=/usr/bin/fusermount3 -u {{HOME}}/GoogleDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target